.contactContainer{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

.formContainer{
    padding: 40px 35px;
    flex: 0 0 100%;
    order: 2;
    position: relative;
    transition: opacity 350ms ease, transform 250ms ease, height 600ms ease-in;
    display: grid;
    place-items: center;
}

.formContainer h2{
    font-size: 32px;
    color: #3d3d3d;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.formBody{
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.iconRow{
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 10px 0;
}

.iconRow p{
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    color: #3d3d3d;
}

.icon{
    width: 22px;
    height: auto;
    margin-right: 20px;
}

.contactInput:nth-child(even){
    flex: 1 1 100%;
    margin-bottom: 15px;
}

.contactInput:nth-child(odd){
    flex: 1 1 100%;
    margin-bottom: 15px;
}

.messageBody {
    transition: opacity 350ms ease, transform 250ms ease;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 60px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.messageTitle {
    font-size: 32px;
    font-weight: 700;
    color: #3d3d3d;
    width: 100%;
    text-align: center;
}

.messageSubtitle {
    font-size: 16px;
    font-weight: 600;
    color: #3d3d3d;
    width: 100%;
    text-align: center;
}

.mapContainer{
    background: #EBEBEB;
    flex: 0 0 100%;
    order: 1;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centerDot{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3d3d3d;
    box-shadow: 0 0 0 20px #3d3d3d80;
}



/* ---------- Tablet Rules (Bootstrap md breakpoint) ---------- */

@media(min-width: 768px) {
    .formContainer h2{
        text-align: center;
    }

    .infoRow{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .formBody{
        padding: 0 10vw;
    }

    .contactInput:nth-child(even){
        flex: 0 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        margin-left: 10px;
        margin-bottom: 15px;
    }
    
    .contactInput:nth-child(odd){
        flex: 0 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        margin-right: 10px;
        margin-bottom: 15px;
    }
}


/* ---------- Desktop Rules (Bootstrap lg breakpoint) ---------- */

@media(min-width: 992px) {
    .formContainer{
        padding: 60px 60px;
        flex: 0 0 50%;
        order: 1;
    }

    .infoRow{
        display: inline-block;
    }

    .mapContainer{
        flex: 0 0 50%;
        order: 2;
        min-height: 674px;
        height: 100%;
    }

    .formBody{
        padding: 0;
    }

    .contactInput:nth-child(even){
        flex: 0 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        margin-left: 10px;
        margin-bottom: 15px;
    }
    
    .contactInput:nth-child(odd){
        flex: 0 1 calc(50% - 10px);
        max-width: calc(50% - 10px);
        margin-right: 10px;
        margin-bottom: 15px;
    }
}